---
import Layout from '../layouts/Layout.astro';
import History from '../components/History.astro';
import Interests from '../components/Interests.astro';
---

<Layout title="DrakeAFK - About">
  <main>
    <History />
    <Interests />
  </main>
</Layout>