---
import Sub from '../layouts/Sub.astro';

import History from '../components/History.astro';
import Interests from '../components/Interests.astro';
---

<Sub title="DrakeAFK - About">
    <h1 class="text-3xl font-bold text-center">Brief History</h1>
    <History />
    <div class="divider w-1/2 mx-auto" />
    <h1 class="text-3xl font-bold text-center">Interests</h1>
    <Interests />
</Sub>