---
import Layout from "../layouts/Layout.astro";
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";

import '../styles/app.css';
---

<Layout title="Contact - DrakeAFK">
    <main>
        <Head />
        <br /><hr /><br />
        <Footer />
    </main>
</Layout>