---
import Sub from '../layouts/Sub.astro';

import SmallProjects from '../components/SmallProjects.astro';
---

<Sub title="DrakeAFK - Projects">
    <h1 class="text-3xl font-bold text-center">Small Projects</h1>
    <SmallProjects />
</Sub>