---
import Layout from '../layouts/Layout.astro';
import SmallProjects from '../components/SmallProjects.astro';
---

<Layout title="DrakeAFK - Projects">
	<main>
		<SmallProjects />
	</main>
</Layout>
