---
import Card from './Card.astro';

import '../styles/app.css';
---

<h2 class="text-gradient" style="text-align: center; font-size: 2.5rem;">Brief History</h2>
        <ul role="list" class="link-card-grid" style="text-align: center;">
            <Card 
                href=''
                title="1995"
                body='Born in the US'
                symbol=''
            />
            <Card 
                href=''
                title="2016 - 2019"
                body='IT Support Internship'
                symbol=''
            />
            <Card 
                href=''
                title="2017 - Present"
                body='Corporate, Nature and City Photographer'
                symbol=''
            />
            <Card 
                href=''
                title="2019"
                body='B.A from Arkansas State University'
                symbol=''
            />
            <Card 
                href=''
                title="2019 - Present"
                body='Web Developer'
                symbol=''
            />
            <Card 
                href=''
                title="2022"
                body='Three Months Traveling Abroad'
                symbol=''
            />
            <Card 
                href=''
                title="2022 - 2023"
                body='English as a Second Language Tutor'
                symbol=''
            />
            <Card 
                href=''
                title="2022 - 2023"
                body='IT Consultant'
                symbol=''
            />
        </ul>