---
import SocialLinks from "./Social-Links.astro";

---

<p style="text-align: center; font-size: 1rem;">
    <code>© 2023 DrakeAFK</code>
</p>
<ul role="list" class="link-card-grid" style="style=text-align: center;">
    <SocialLinks
        href="https://links.drakeafk.io"
        symbol=/assets/site_images/links-icon.png
    />
</ul>