<footer class="footer footer-center items-center my-5 text-neutral-content w-5/6 mx-auto">
    <button class="link">
        <a href="https://links.drakeafk.io" target="_blank" rel="noopener noreferrer">
            DrakeAFK © 2023
        </a>
    </button>
</footer>