<h1><span class="text-gradient">DrakeAFK<br /><span style="font-size: 2rem;">Drake Hopkins</span></span></h1>
<p class="instructions">
    <code>Web Developer</code> and <code>IT Professional</code> with 4+ years of successful experience working in different tech environments
</p>
<p style="text-align: center; font-size: 1.15rem;">
    <code>"Good design is as little design as possible.." - Dieter Rams</code>
</p>