<div class="hero">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold my-3">Hello there</h1>
      <div class="join items-center">
        <div class="avatar p-3">
          <div class="w-24 rounded-full ring ring-success ring-offset-base-100 ring-offset-2">
            <img src="me-professionalHeadshot-smol.png" />
          </div>
        </div>
        <h2 class="text-3xl p-3 text-success font-bold">I'm Drake</h2>
      </div>
      <p class="py-6">
        Web Developer and IT Professional with 5+ years of successful
        industry experience
      </p>
      <div class="container">
        <div class="chat chat-end p-3">
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img src="me-professionalHeadshot-smol.png" />
            </div>
          </div>
          <div class="chat-header">
            DrakeAFK
          </div>
          <div class="chat-bubble bg-primary text-white">What's the secret to good design?</div>
          <div class="chat-footer opacity-50">
            Seen
          </div>
        </div>
        <div class="chat chat-start p-3">
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img src="dieter-rams.png" />
            </div>
          </div>
          <div class="chat-header">
            Dieter Rams
          </div>
          <div class="chat-bubble bg-accent-focus text-white">Good design is as little design as possible..</div>
          <div class="chat-footer opacity-50">
            Recieved
          </div>
        </div>
      </div>

    </div>
  </div>
</div>