<div class="py-10">
  <div class="text-white text-center">
    <h1 class="text-2xl font-bold">
      Professional History
    </h1>
  </div>
  <div class="flex flex-col w-1/2 lg:flex-row lg:flex-wrap mx-auto gap-5 my-10 text-white">
    <div class="grid flex-grow h-auto border rounded-lg place-items-center text-center p-5">
        <h2 class="font-bold">1995</h2>
        <p>Born in the US</p>    
    </div> 
    <div class="grid flex-grow h-auto border rounded-lg place-items-center text-center p-5">
        <h2 class="font-bold">2014 - 2019</h2>
        <p>Bachelor of Arts in Political Science from Arkansas State University</p>
    </div> 
    <div class="grid flex-grow h-auto border rounded-lg place-items-center p-5 text-center">
        <h2 class="font-bold">2020 - 2022</h2>
        <p>Web Developer</p>    
    </div> 
    <div class="grid flex-grow h-auto border rounded-lg place-items-center p-5 text-center">
        <h2 class="font-bold">2022</h2>
        <p>Traveled Throughout Europe</p>    
    </div> 
    <div class="grid flex-grow h-auto border rounded-lg place-items-center p-5 text-center">
        <h2 class="font-bold">2022 - 2023</h2>
        <p>English as a Second Language Tutor</p>    
    </div>
    <div class="grid flex-grow h-auto border rounded-lg place-items-center p-5 text-center">
        <h2 class="font-bold">2020 - Present</h2>
        <p>Full Stack Developer</p>    
    </div>
    <div class="grid flex-grow h-auto border rounded-lg place-items-center p-5 text-center">
      <h2 class="font-bold">2023 - Present</h2>
      <p>IT Administrator</p>    
  </div>
  </div>
</div>