---
const HACKER = 'hackerIMAGE.png';
---
<div class="p-20 text-white text-center font-bold">
  <img src={HACKER} alt="A hacker image" height="125" width="125" class="mx-auto">
  <h1 class="text-2xl py-5 font-mono">
    DrakeAFK<span class="animate-ping">_</span>
  </h1>
  <h2 class="font-thin py-5 font-mono">
    Fullstack Developer<br>+<br>IT Professional
  </h2>
</div>
