<div class="py-10">
  <div class="text-white text-center">
    <h1 class="text-2xl font-bold">
      A Few Interests
    </h1>
  </div>
  <div class="flex flex-col w-1/2 lg:flex-row lg:flex-wrap mx-auto gap-5 my-10 text-white">
    <div class="grid flex-grow h-auto border rounded-lg place-items-center text-center p-5">
        <h2 class="font-bold">Technology</h2>
        <p>
            I have been interested in technology all of my life. I received my first PC,
            a now vintage machine that was running Windows 95, when I was three years old.<br />
            I enjoy learning about new technologies and practicing with various programming languages.
        </p>
    </div>
    <div class="grid flex-grow h-auto border rounded-lg place-items-center text-center p-5">
        <h2 class="font-bold">Video Games</h2>
        <p>
            I have been playing video games since I was a child with my father. I have always been
            interested in the technology behind them and how they are made.<br />I've never been tied to
            one particular genre of game, but I do enjoy RPGs and FPSs. I'm currently playing through
            Starfield and regularly play Escape from Tarkov.
        </p>
    </div>
    <div class="grid flex-grow h-auto border rounded-lg place-items-center p-5 text-center">
        <h2 class="font-bold">Mountain Biking & Cycling</h2>
        <p>
            Having lived in the mountains of Colorado for years, mountain biking became a great
            passion of mine. I have since moved to southern Florida and have taken up road and
            gravel cycling.
        </p>
    </div>
    <div class="grid flex-grow h-auto border rounded-lg place-items-center p-5 text-center">
        <h2 class="font-bold">Rock Climbing</h2>
        <p>
            Whether in a climbing gym or on real rock, rock climbing is not just a physically
            demanding activity, but a very technical sport that promotes problem solving in
            a unique way.
        </p>
    </div>
    <div class="grid flex-grow h-auto border rounded-lg place-items-center p-5 text-center">
        <h2 class="font-bold">Swimming & Diving</h2>
        <p>
            Along with climbing and cycling, swimming and diving help keep me active when away
            from a computer. Now living in southern Florida, I am spending less time in a pool
            and venturing into open water swimming and freediving.
        </p>
    </div>
  </div>
</div>

