---
import Card from './Card.astro';

import '../styles/app.css';
---

<h2 class="text-gradient" style="text-align: center; font-size: 2.5rem;">Interests</h2>
        <ul role="list" class="link-card-grid" style="text-align: center;">
            <Card 
                href='#'
                title="Programming & Tech"
                body='I have been interested in technology all my life. I received my first PC, a now vintage machine running Windows 95, when I was three years old.'
                symbol=''
            />
            <Card 
                href='#'
                title="Video Games"
                body='In my experience, video games provide a great way to "flex different muscles" in the brain and spark various creative ideas.'
                symbol=''
            />
            <Card 
                href='#'
                title="Mountain Biking & Cycling"
                body='Having lived in Colorado for years, mountain biking became a great way to exercise and boost adrenaline in a very unique way. Now living in southern Florida, I have transitioned to road and gravel cycling.'
                symbol=''
            />
            <Card 
                href='#'
                title="Rock Climbing"
                body='Whether in a climbing gym or on a natural rock face, rock climbing is not just a physically demanding activity, it is an extremely technical sport that promotes problem solving skills in high-pressure environments.'
                symbol=''
            />
            <Card 
                href='#'
                title="Swimming & Diving"
                body='Along with climbing and cycling, swimming and diving help keep me active when not on a computer. Now living in southern Florida, I am currently spending less time in a pool and venturing into open water swimming and free diving.'
                symbol=''
            />
            <Card 
                href=''
                title="Photography & Videography"
                body='I have always loved photographing various landscapes and wildlife that are not the easiest to reach. While not my primary focus, I do corporate shoots on occasion.  Feel free to visit my online photography portfolio to see what I enjoy capturing.'
                symbol=''
            />
        </ul>