---
import Card from './Card.astro';

import '../styles/app.css';
---

<h2 class="text-gradient" style="text-align: center; font-size: 2.5rem;">Interests</h2>
        <ul role="list" class="link-card-grid" style="text-align: center;">
            <Card 
                href=''
                title="Programming & Tech"
                body='###'
                symbol=''
            />
            <Card 
                href=''
                title="Video Games"
                body='###'
                symbol=''
            />
            <Card 
                href=''
                title="Mountain Biking & Cycling"
                body='###'
                symbol=''
            />
            <Card 
                href=''
                title="Rock Climbing"
                body='###'
                symbol=''
            />
            <Card 
                href=''
                title="Swimming"
                body='###'
                symbol=''
            />
            <Card 
                href=''
                title="Photography & Videography"
                body='###'
                symbol=''
            />
        </ul>