---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

import '../styles/app.css';
---
<div>
    <Astronav>
        <MenuIcon />
        <MenuItems class="hidden menu-items">
            <ul class="instructions">
                <li>
                    <code><a href="/">DrakeAFK.io</a></code>
                </li>
                <li>
                    <code><a href="/about">About Me</a></code>
                </li>
                <li>
                    <code><a href="/projects">Projects</a></code>
                </li>
                <li>
                    <code><a href="/contact">Contact Me</a></code>
                </li>
                <li>
                    <code><a href="/DrakeHopkins-Resume.pdf" target="_blank">CV</a></code>
                </li>
                <!-- <li>
                    <code><a href="/blog">Blog</a></code>
                </li> -->
            </ul>
        </MenuItems>
    </Astronav>
</div>
