<div class="navbar bg-base-100 py-5">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </label>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-accent-focus text-white font-bold rounded-box w-52">
                <li class="hidden"><a href="/blog" rel="noopener noreferrer">Blog</a></li>
                <li><a href="/projects" rel="noopener noreferrer">Projects</a></li>
                <li><a href="/about" rel="noopener noreferrer">About</a></li>
                <li><a href="/contact" rel="noopener noreferrer">Contact</a></li>
                <li><a href="https://www.links.drakeafk.io/" rel="noopener noreferrer">Links</a></li>
                <li><a href="/Drake Hopkins - Resume.pdf" rel="noopener noreferrer" target="_blank">Resume</a></li>
            </ul>
        </div>
        <a href="/" class="btn btn-ghost normal-case text-xl">DrakeAFK</a>
    </div>

</div>