---
import ProjectTile from "./Project-Tile.astro";

import '../styles/app.css';
---

<h2 class="text-gradient" style="text-align: center; font-size: 2.5rem;">Small Projects</h2>
        <ul role="list" class="link-card-grid" style="text-align: center;">
            <ProjectTile 
                href='https://www.links.drakeafk.io/'
                title="Web Links"
                body='A unique web page for displaying links (Inspired by Linktree)'
                symbol='/assets/project_images/links-img.png'
            />
            <ProjectTile
                href="https://www.colored-memory.drakeafk.io/"
                title="Colored Memory"
                body="A simple memory game created with JavaScript"
                symbol="/assets/project_images/colored-mem.png"
            />
        </ul>