---
import ProjectTile from "./Project-Tile.astro";

import '../styles/app.css';
---

<h2 class="text-gradient" style="text-align: center; font-size: 2.5rem;">Small Projects</h2>
<ul role="list" class="link-card-grid" style="text-align: center;">
    <ProjectTile href='https://www.links.drakeafk.io/' title="Web Links"
        body='A unique web page for displaying links (Inspired by Linktree)'
        symbol='/assets/project_images/links-img.png' />
    <ProjectTile href="https://www.colored-memory.drakeafk.io/" title="Colored Memory"
        body="A simple memory game created with JavaScript" symbol="/assets/project_images/colored-mem.png" />
    <ProjectTile href="https://wallet-io.vercel.app" title="Wallet.io"
        body="A mock product site for software called Wallet.io" symbol="/assets/project_images/wallet-io.png" />
    <ProjectTile href="https://github.com/DrakeAFK/rusty_tic_tac_toe" title="Rusty Tic Tac Toe"
        body="A terminal based tic tac toe game written in Rust" symbol="/assets/project_images/rusty-tic-tac-toe.png" />
    </ul>