<div class="flex flex-col w-1/2 lg:flex-row lg:flex-wrap mx-auto gap-5 my-10">

    <div class="grid flex-grow h-auto card bg-base-300 rounded-box place-items-center text-center p-5">
        <h2 class="card-title">Web Links</h2>
        <a href="https://github.com/DrakeAFK/bio-social-links" rel="noopener noreferrer" target="_blank">
            <img class="p-5" src="links-img.png" alt="Image of Web Links Project">
        </a>
        <p>Unique webpage for displaying links<br />(inspired by Linktree)</p>
    </div>

    <div class="grid flex-grow h-auto card bg-base-300 rounded-box place-items-center text-center p-5">
        <h2 class="card-title">Colored Memory</h2>
        <a href="https://github.com/DrakeAFK/colored-memory" rel="noopener noreferrer" target="_blank">
            <img class="p-5" src="colored-mem.png" alt="Image of Colored Memory Project">
        </a>
        <p>Memory game created with JavaScript</p>
    </div>

    <div class="grid flex-grow h-auto card bg-base-300 rounded-box place-items-center text-center p-5">
        <h2 class="card-title">Rusty Tic Tac Toe</h2>
        <a href="https://github.com/DrakeAFK/rusty_tic_tac_toe" rel="noopener noreferrer" target="_blank">
            <img class="p-5" src="rusty-tic-tac-toe.png" alt="Image of Rusty Tic Tac Toe Project">
        </a>
        <p>Terminal based tic tac toe game written in Rust</p>
    </div>

    <div class="grid flex-grow h-auto card bg-base-300 rounded-box place-items-center text-center p-5">
        <h2 class="card-title">pyTodoList</h2>
        <a href="https://github.com/DrakeAFK/pyTodoList" rel="noopener noreferrer" target="_blank">
            <img class="p-5" src="pyTodoList.png" alt="Image of pyTodoList Project">
        </a>
        <p>Terminal based todo list app written in Python</p>
    </div>

</div>