---
interface Props {
    href: string;
    symbol: string;
}

const { href, symbol } = Astro.props;
---

<li class="link-card">
    <a href={href} target="_blank" style="text-align: center">
        <img src={symbol} />
    </a>
</li>